/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/*  Navigation bar: Logo and img */
#logo img {
    height: 60px;
    width: 60px;
}

#logo {
    margin: 15px 20px;
}


/*  Navigation bar: list items styling */

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    font-size: 1.2rem;
    font-family: 'Belanosima', sans-serif;
}


.navbar ul li a {
    color: white;
    display: block;
    padding: 2px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;

}

/* Home Section styling */
.home {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 130px;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    background: url('./bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}

.h-primary {
    color: rgb(22, 21, 21);
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
}

.home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services section */
#services {
    display: flex;
    margin: 35px;
}

#services .box {
    border: 2px solid rgb(9, 9, 14);
    margin: 40px;
    padding: 35px;
    margin: 10px 6px;
    border-radius: 20px;
    background-color: rgb(221, 204, 204);

}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}


/* Clients Section */
#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}


.client-item {
    padding: 35px;
}
#clients img {
    height: 130px;
}

#clients-section {
    padding-bottom: 95px;
}

#clients-section::before {
    content: "";
    position: absolute;
    height: 53%;
    width: 100%;
    background: url('./bg.jpg');
    z-index: -1;
    opacity: 0.8;
}


/* Contact section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('./contact.jpg') no-repeat center center/cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px 20px;
}


#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}


#contact-box form {
    width: 45%;
}

#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}

#contact-box label {
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}
/* Utility Classes */

.nav-first {
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 2.5rem;
    padding: 12px;
    margin-top: 270px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;

}

.btn {
    background-color: white;
    color: black;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.center {
    text-align: center;
}

.services {
    margin-top: 400px;
}

.services p {
    font-family: 'Bree Serif', serif; 
}